$base-color: #50b7f5;
$background: #e6ecf0;

*{
    margin: 0;
    padding: 0;
}

.app {
    display: flex;
    flex-direction: row;
    height: 100vh;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;

    .sidebar {
        width: 100%;
        flex-basis: 20vw;
    }
    .feed {
        width: 100%;
        flex-basis: 47vw;
    }

    .widgets {
        width: 100%;
        flex-basis: 33vw;
    }
    
}

